.header {
    background-image: url(Rectangle\ 1.png)
}
nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

h1{
    color: #BD4545;
    text-align: center;}

h2{
    text-align: center;
    
}